@font-face {
    font-family: 'Montserrat';
    src: url('#{$font-path}/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('#{$font-path}/Montserrat-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('#{$font-path}/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Trajan';
    src: url('#{$font-path}/Trajan-Pro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
