$font-size-xsmall: 12px;
$font-size-small: 14px;
$font-path: '../fonts' !default;
$font-family-base: 'Montserrat', sans-serif;
$font-family-secondary: 'Trajan', sans-serif;

$content-section-width-narrow: 768px;
$icon-svg-size: 1em;
$icon-svg-wide-size: 1.4em;

$header-desktop-height: 78px;
$header-mobile-height: 42px;
$header-lockup-mobile-height: 65px;

$content-section-height-460: 460px;
$content-section-height-full: 100vh;

$modal-max-width: 768px;
