%list--unstyled {
    @include list-unstyled;
}

%list--inline,
.list--inline {
    @include list-unstyled;

    > li {
        display: inline-block;
        padding-left: var(--block-text__lists__item-inline-spacing-horizontal);
        padding-right: var(--block-text__lists__item-inline-spacing-horizontal);
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
}

.list {
    &--dotted {
        li {
            &:after {
                content: '\2022';
                padding-left: calc(var(--block-text__lists__item-inline-spacing-horizontal) + 2px);
            }
            &:last-child {
                padding: 0;
                &:after {
                    content: none;
                }
            }
        }
    }
}

.text {
    &--uppercase {
        text-transform: uppercase;
    }
    &--contrast {
        color: color-var(--global__colors__white);
    }
    &--italic {
        font-style: italic;
    }
    &--bold {
        font-weight: bold;
    }
}

.blockquote {
    margin-top: calc(var(--global__sizing__layout-spacing--double) * 1.20);
    &__quote {
        @extend %heading;
        & > :last-child:before {
            text-indent: 0;
            display: block;
            font-size: 120px;
            line-height: 0;
            content: "\201C";
        }
    }

    &__quote > :last-child:after,
    &__attribution:before {
        content: '';
    }
}
