.button {
    background-color: transparent;

    &--transparent {
        color: color-var(--global__colors__white);
        background-color: transparent;
        &:hover {
            color: color-var(--global__colors__white);
            background-color: transparent;
        }
    }
    &--styled {
        position: relative;
        text-transform: uppercase;
        z-index: 1;
        color: color-var(--global__colors__white);

        &:hover {
            text-decoration: none;
            background-color: transparent;

            &:before {
                right: 0;
            }
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 50%;
            bottom: 0;
            background: color-var(--buttons__default__background);
            z-index: -1;
            transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
        }
    }
}
