%heading,
.heading {
    font-family: $font-family-secondary;
    color: color-var(--global__colors__white);

    > a:hover {
        color: color-var(--global__links__color-hover);
    }

    &--default,
    &--medium {
        text-transform: inherit;
    }
    &--inverted {
        color: color-var(--global__body__color-inverted);
    }
    &--styled {
        display: flex;
        &:after {
            content: '';
            margin-left: var(--global__sizing__layout-spacing--half);
            height: 1px;
            width: calc(var(--global__sizing__layout-spacing--default) * 2);
            background: color-var(--global__colors__white);
            opacity: .5;
            align-self: center;
        }
    }
}
