.blog {
    .masonry {
        .content-column {
            @include media-breakpoint-up(sm) {
                margin-bottom: var(--global__sizing__layout-spacing--default);
            }
        }
    }
}
