.home {
    .content-section--width-full:first-child {
        @extend %content-section--row-overlay;
        margin-top: 0;

        .styled-heading {
            background-color: color-var(--global__colors__gray-dark, .5);
            padding: var(--global__sizing__layout-spacing--half);
            width: fit-content;
            .heading:not(.heading--styled) {
                margin-bottom: -5px !important;
                @include media-breakpoint-up(md) {
                    margin-bottom: -15px !important;
                }
            }
        }

        .content-row {
            &:first-child {
                bottom: 0;
                .responsive-spacer:first-child {
                    @include media-breakpoint-down(md) {
                        height: calc(2 * var(--global__sizing__layout-spacing--default));
                    }
                }
                .content-column {
                    &__inner {
                        height: 100%;
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: center;
                        padding-left: var(--global__sizing__layout-spacing--half);
                        padding-right: var(--global__sizing__layout-spacing--half);
                        max-width: $container-max-width;
                        margin: 0 auto;

                        @include media-breakpoint-up(lg) {
                            padding-left: calc(var(--global__sizing__layout-spacing--double) + 3px); // to prevent collision with sidebar header
                        }

                        > .button {
                            max-width: fit-content;
                        }
                    }
                }
            }
            &:last-child {
                .content-column {
                    padding: 0;
                }
            }
        }
        .content-slider {
            &__navigation {
                > button {
                    padding: var(--buttons__common__padding-vertical) var(--buttons__common__padding-horizontal);
                    @include media-breakpoint-up(md) {
                        padding: calc(var(--global__sizing__layout-spacing--default)/1.25);
                    }
                }
                .icon svg {
                    @include media-breakpoint-up(md) {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
        .owl-carousel .owl-item img {
            @include media-breakpoint-up(lg) {
                min-height: 400px;
            }
            @include media-breakpoint-down(md) {
                width: auto;
                max-width: fit-content;
                max-height: 400px;
            }
        }
    }
}
