.sidebar-template {
    margin-bottom: var(--global__sizing__layout-spacing--double);
    &__container {
        display: flex;
        flex-flow: column nowrap;
        padding: 0;

        @include media-breakpoint-up(md) {
            flex-flow: row nowrap;
        }
    }
    &__main,
    &__sidebar {
        .content-section:first-child:not(.content-section--has-bg) {
            margin-top: 0;
        }
    }
    &__main {
        flex: 1 0 100%;

        @include media-breakpoint-up(lg) {
            flex-basis: 70%;
        }
    }
    &__sidebar {
        flex: 1 0 100%;

        @include media-breakpoint-up(lg) {
            flex-basis: 30%;
        }
    }
}
