.single-lily-development {
    .content-section--hero {
        .heading,
        .heading + p {
            color: color-var(--global__colors__black);
        }
        .color-overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(171,171,171,.6);
            z-index: 1;
        }
        .content-section__container {
            z-index: 2;
        }
    }
}
