%content-section,
.content-section {
    &--primary {
        background-color: color-var(--global__colors__primary);
    }
    &.hide-responsive-spacer-mobile {
        .responsive-spacer {
            display: none;
            @include media-breakpoint-up(md) {
                display: block;
            }
        }
    }
    &--dark,
    &--darker,
    &--black {
        .button--styled:before {
            background: color-var(--global__colors__gray-dark);
        }
        .search-form {
            //input[type="search"] {
            //    background-color: color-var(--global__colors__gray-dark);
            //}
            .button {
                background: color-var(--global__colors__gray-dark);
            }
        }
        input {
            background-color: color-var(--global__colors__gray-dark);
        }
    }
    &--inverted {
        background-color: color-var(--global__colors__white);
    }
    &--dark {
        background-color: color-var(--global__colors__gray-dark);
    }
    &--darker {
        background-color: color-var(--global__colors__gray-darker);
    }
    &--black {
        background-color: color-var(--global__colors__black);
    }
    &--height-460 {
        min-height: $content-section-height-460;
    }
    &--height-full {
        &:first-child {
            min-height: $content-section-height-full;
        }
    }
    &--hero {
        @extend %content-section--height-460;
        display: flex;

        &.content-section--has-bg {
            padding-top: calc(var(--global__sizing__layout-spacing--default) + #{$header-mobile-height});
            @include media-breakpoint-up(md) {
                padding-top: calc(var(--global__sizing__layout-spacing--default) + #{$header-desktop-height});
            }
        }
        .content-section {
            &__container {
                align-self: center;
            }
        }
        .content-column__inner {
            @include media-breakpoint-up(lg) {
                padding-left: calc(var(--global__sizing__layout-spacing--double) + 3px); // to prevent collision with sidebar header
            }
        }
        .styled-heading {
            width: fit-content;
            background-color: color-var(--global__colors__gray-dark, .5);
            padding: var(--global__sizing__layout-spacing--half);
            .heading:not(.heading--styled) {
                margin-bottom: -5px !important;
                @include media-breakpoint-up(md) {
                    margin-bottom: -15px !important;
                }
            }
        }
    }
    &--mortgage-calculator {
        .content-section__container {
            margin: 0 auto 0 0;
            @media only screen and (min-width: 1050px) {
                max-width: calc(700px + var(--global__sizing__layout-spacing--default));
            }
            @media only screen and (min-width: 992px) and (max-width: 1049px) {
                max-width: calc(500px + var(--global__sizing__layout-spacing--default));
            }
            @media only screen and (min-width: 545px) and (max-width: 991px) {
                max-width: calc(700px + var(--global__sizing__layout-spacing--default));
            }
            @media only screen and (max-width: 544px) {
                max-width: calc(320px + var(--global__sizing__layout-spacing--default));
            }
        }
    }
    &--row-overlay {
        .content-section {
            &__container {
                position: relative;
            }
        }
        .content-row {
            &:first-child {
                position: absolute;
                top: 0;
                left: var(--global__sizing__layout-spacing--half);
                right: var(--global__sizing__layout-spacing--half);
                margin-bottom: 0;
            }
            &:last-child {
                z-index: -1;
            }
        }
    }
}
