.content-column {
    @include media-breakpoint-up(md) {
        margin-bottom: var(--global__sizing__layout-spacing--default);
    }
    &--widget {
        ul {
            @extend %list--unstyled;
        }
    }
    &.text--center {
        .styled-heading {
            @include media-breakpoint-up(md) {
                max-width: 200px;
                margin: 0 auto;
                text-align: left;
            }
        }
    }
}
