.content-slider {
    max-height: 800px;
    overflow: hidden;
    z-index: 0;
    .vc-single-image {
        margin: 0;
    }
    .owl-nav,
    &__navigation {
        display: flex;
        position: absolute;
        bottom: 0;
        margin: 0;
        > button {
            @extend %button;
            background-color: color-var(--global__colors__gray-darker, .75);
            padding: calc(var(--global__sizing__layout-spacing--half)/2);

            .icon {
                display: flex;
                svg {
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }
    .owl-nav {
        right: 0;
        > button.owl-prev,
        > button.owl-next {
            background: color-var(--global__colors__gray-darker, .75) !important;
            padding: calc(var(--global__sizing__layout-spacing--half)/2) !important;

            &:hover {
                background: color-var(--global__colors__gray-darker) !important;
            }
        }
    }
    .blockquote {
        margin-bottom: var(--global__sizing__layout-spacing--double);
    }
}
