.content-row-inner {
    @include media-breakpoint-down(sm) {
        > * {
            margin-bottom: var(--global__sizing__text-spacing--default);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
