.footer-nav {
    padding: var(--global__sizing__layout-spacing--double) 0;
    &__container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    &__image {
        margin-bottom: var(--global__sizing__layout-spacing--default);
        > img {
            margin-bottom: 0;
        }
    }
    &__list {
        text-align: center;
        font-weight: bold;
        margin-bottom: var(--global__sizing__layout-spacing--default);
    }
    &__list-item {
        &--phone,
        &--email {
            > a:hover {
                text-decoration: none;
                .icon {
                    color: color-var(--global__colors__white);
                }
            }
            .icon {
                margin-right: var(--global__sizing__text-spacing--half);
            }
        }
        @include media-breakpoint-down(md) {
            &--phone,
            &--email {
                width: 100%;
                padding: 0;
            }
        }
    }
    &__menu {
        margin-bottom: var(--global__sizing__layout-spacing--half);
    }
    .nav-menu {
        &__item {
            color: color-var(--global__colors__gray-medium);
            > a {
                padding: 0 var(--global__sizing__text-spacing--default);
            }
        }
        &__list {
            @extend %list--inline;
            font-size: $font-size-xsmall;
            text-align: center;
            max-width: 1000px;
            margin: 0 auto;
            > li {
                padding: 0;
            }
        }
    }
    &__copyright {
        text-align: center;
        font-size: $font-size-xsmall;
        color: color-var(--global__colors__gray-medium);
        > a {
            color: color-var(--global__colors__gray-medium);
            &:hover {
                text-decoration: none;
                color: color-var(--global__colors__white);
            }
        }
    }
}
