.gform_wrapper {
    input[type="submit"] {
        font-weight: 400;
    }
    ul {
        margin-bottom: 0;
    }
    .get-notified {
        .gform_button.button {
            @extend %button--inverted;
            text-transform: uppercase;
        }

        .gform_fields {
            display: flex;
            flex-flow: row wrap;
        }

        .gfield {
            margin-bottom: calc(var(--form-fields__common__field-spacing) * 2);
            margin-left: var(--form-fields__common__field-spacing);
            margin-right: var(--form-fields__common__field-spacing);
            flex-basis: calc(100% - var(--form-fields__common__field-spacing) * 2);

            @include media-breakpoint-up(md) {
                flex-basis: calc(50% - var(--form-fields__common__field-spacing) * 2);
            }

            &#field_1_5,
            &#field_1_6 {
                flex-basis: calc(100% - var(--form-fields__common__field-spacing) * 2);
                text-align: left;

                ul {
                    @extend %list--inline;

                    >li:first-child {
                        padding-left: var(--block-text__lists__item-inline-spacing-horizontal);
                    }

                    input[type="checkbox"] {
                        background: color-var(--global__colors__white);

                        &:checked {
                            background: color-var(--global__colors__black);
                        }
                        & + label {
                            // make variable
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .contact-us {
        li {
            @include media-breakpoint-up(md) {
                &:nth-child(3),
                &:nth-child(4) {
                    width: calc(50% - var(--global__sizing__text-spacing--half));
                    float: left;
                }
                &:nth-child(3) {
                    margin-right: var(--global__sizing__text-spacing--half);
                }
                &:nth-child(4) {
                    margin-left: var(--global__sizing__text-spacing--half);
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .investors-performa {
        .gform_title {
            @include heading-size(--headings__medium);
        }
        .gform_fields {
            text-align: left;
        }
    }
}
