.header-nav {
    z-index: 1;
    position: fixed;
    width: 100%;

    @include media-breakpoint-down(md) {
        background-color: color-var(--global__colors__white);
        margin-top: $header-lockup-mobile-height;
    }
    &__lock-up {
        z-index: 2;
        display: flex;
        position: fixed;
        flex-flow: row nowrap;
        width: 100%;
        height: auto;

        @include media-breakpoint-up(lg) {
            flex-flow: column nowrap;
            top: 0;
            left: 0;
            height: 156px;
            width: 78px;
        }

        > div {
            flex: 1 0 50%;
        }
    }
    &__logo {
        background-color: color-var(--global__colors__gray-dark, .5);
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @include media-breakpoint-down(md) {
            background-color: color-var(--global__colors__black);
        }

        @include media-breakpoint-up(lg) {
            justify-content: center;
        }
    }
    &__logo-image {
        margin-bottom: 0;
        @include media-breakpoint-down(md) {
            max-width: 50px;
        }
    }
    &__logo-link {
        padding: var(--global__sizing__text-spacing--half) var(--global__sizing__text-spacing--default);
    }
    &__menu {
        background-color: color-var(--global__colors__black);
        justify-content: flex-end;
        padding: 0 var(--global__sizing__layout-spacing--default);
        display: flex;
        align-items: center;

        @include media-breakpoint-up(lg) {
            justify-content: center;
            padding: 0;
            background-color: color-var(--global__colors__gray-darker, .75);
        }

        .nav-menu__list {
            max-width: 400px;
        }
    }
    &__container {
        display: flex;
        justify-content: center;
        padding: var(--global__sizing__layout-spacing--half);

        @include media-breakpoint-up(md) {
            justify-content: flex-end;
        }

        @include media-breakpoint-up(lg) {
            padding: 0;
        }
    }
    &__list {
        display: flex;
        margin: 0;
        font-size: $font-size-xsmall;
        font-weight: bold;

        @include media-breakpoint-up(lg) {
            padding: var(--global__sizing__layout-spacing--default) var(--global__sizing__layout-spacing--double);
        }

        &.list {
            &--inline > li {
                display: inline-flex;
            }
        }
    }
    &__list-item {
        > a {
            display: flex;
            align-items: center;

            @include media-breakpoint-down(md) {
                color: color-var(--global__colors__black);
            }

            > span:nth-child(2) {
                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }

            &:hover {
                text-decoration: none;
            }
        }
        &--phone,
        &--email {
            > a:hover {
                .icon {
                    color: color-var(--global__colors__white);
                }
            }
            .icon {
                @include media-breakpoint-up(md) {
                    margin-right: var(--global__sizing__text-spacing--half);
                }
            }
        }
    }
}
