%image-with-title,
.image-with-title {
    &__link {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &:hover {
            text-decoration: none;

            .image-with-title {
                &__image {
                    opacity: .1;
                }
                &__title {
                    color: color-var(--global__colors__white);
                }
            }
        }
    }
    &__image {
        margin-bottom: 0;
        opacity: 1;
        transition: opacity 0.15s ease-in-out;
    }
    &__title {
        @include fluid-value-set(font-size, --headings__default__font-size);
        text-transform: uppercase;
        position: absolute;
        transition: color 0.15s ease-in-out;
    }
}
