.lily-development-listing-card {
    text-align: left;
    &__row {
        display: flex;
        flex-flow: column nowrap;
        @media only screen and (min-width: 768px) {
            flex-flow: row nowrap;
        }
    }
    &__column {
        padding: 0 var(--global__sizing__layout-spacing--half);
        flex-basis: 100%;
        width: 100%;
        &:first-of-type {
            @media only screen and (min-width: 768px) {
                flex-basis: 25%;
                width: 25%;
            }
        }
        &:last-of-type {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            @media only screen and (min-width: 768px) {
                flex-basis: 75%;
                width: 75%;
            }
        }
    }
    &__image {
        @media only screen and (max-width: 767px) {
            display: none;
        }
        img {
            margin-bottom: 0;
        }
    }
    &--toggle-horizontal {
        .lily-development-listing-card {
            &__row {
                @media only screen and (min-width: 768px) {
                    display: flex;
                    flex-flow: row-reverse;
                }
            }
            &__column {
                @media only screen and (min-width: 768px) {
                    text-align: right;
                }
            }
        }
    }
}
