.listing-card {
    position: relative;
    &__link {
        @extend %image-with-title__link;
        justify-content: flex-start;
        &:hover {
            .listing-card {
                &__image {
                    opacity: .1;
                }
                &__title {
                    color: color-var(--global__colors__white);
                }
            }
        }
    }
    &__image {
        @extend %image-with-title__image;
    }
    &__content-container {
        padding: var(--global__sizing__layout-spacing--half);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: linear-gradient(180deg,transparent,color-var(--global__colors__gray-darker));
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;

        @include media-breakpoint-up(md) {
            padding: var(--global__sizing__layout-spacing--default);
        }

        > :last-child {
            margin-bottom: 0;
        }
    }
    &__list-price {
        margin-bottom: 0;
    }
    &__type {
        color: color-var(--global__colors__gray-light);
        font-size: var(--headings__default__font-size--default);
        margin-bottom: 0;
    }
    &__heading {
        color: color-var(--global__colors__gray-light);
        font-size: var(--headings__default__font-size--default);
        transition: color 0.15s ease-in-out;
    }
    &__city-state-zip {
        color: color-var(--global__colors__gray-light);
        margin-bottom: 0;
        font-weight: 700;
    }
    &__bed-bath {
        line-height: var(--headings__common__line-height);
        font-weight: 700;
        > li {
            color: color-var(--global__colors__gray-light);
            padding-left: var(--global__sizing__text-spacing--half);
            padding-right: var(--global__sizing__text-spacing--half);
        }
    }
}
