@keyframes ticker-kf {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-3144px, 0, 0);
    }
}

.marquee {
    .content-column__inner {
        animation: ticker-kf 30s linear infinite;
        display: flex;
        align-items: center;
        > * {
            .vc-single-image__figure {
                width: 224px;
            }
            margin: 0 150px;
        }
    }
}

// WORKING!!

//@keyframes ticker-kf {
//    0% {
//        transform: translate3d(0, 0, 0);
//    }
//
//    100% {
//        transform: translate3d(-1632px, 0, 0);
//    }
//}
//
//.marquee {
//    .content-column__inner {
//        animation: ticker-kf 30s linear infinite;
//        display: flex;
//        align-items: center;
//        > * {
//            .vc-single-image__figure {
//                width: 224px;
//            }
//            margin: 0 24px;
//        }
//    }
//}
