#team-member-card-modal {
    .modal__container {
        background-color: color-var(--global__colors__gray-darker);
    }
    .modal__close {
        color: color-var(--global__colors__white);
    }
}
