.mortgage-calculator {
    iframe {
        border: 2px solid;
    }
    &__tablet {
        display: none;
        @media only screen and (min-width: 1050px) {
            display: block;
        }
        @media only screen and (max-width: 991px) and (min-width: 545px) {
            display: block;
        }
    }
    &__phablet {
        display: none;
        @media only screen and (min-width: 992px) and (max-width: 1049px) {
            display: block;
        }
    }
    &__mobile {
        display: none;
        @media only screen and (max-width: 544px) {
            display: block;
        }
    }
}
