.nav-menu {
    &:not(.nav-menu--opened) {
        @include media-breakpoint-up(lg) {
            height: 100%;
            width: 100%;
        }
        .nav-menu {
            &__toggle {
                width: 100%;
                height: 100%;
                justify-content: center;
                &:hover {
                    .nav-menu__toggle-bar:before,
                    .nav-menu__toggle-bar:after {
                        width: 100%;
                    }
                }
            }
            &__toggle-bar {
                @include media-breakpoint-up(md) {
                    width: calc(var(--header__nav-menu__toggle-bar-width) * 1.25);
                }
                &:before {
                    transition: width 0.15s ease-in-out;
                    width: 50%;
                }
                &:after {
                    width: 75%;
                    transition: width 0.15s ease-in-out;
                }
            }
        }
    }
    &--opened {
        .nav-menu {
            &__item {
                color: color-var(--global__colors__gray-light);
                //& > a:hover {
                //    color: color-var(--global__colors__gray-darker);
                //}
                &--has-sub > a:after {
                    position: relative;
                    margin-left: var(--global__sizing__text-spacing--default);
                }
            }
            &__toggle {
                position: fixed;
                top: var(--global__sizing__layout-spacing--default);
                left: var(--global__sizing__layout-spacing--half);
            }
            &__toggle-bar {
                &:before,
                &:after {
                    background-color: color-var(--global__colors__gray-light);
                }
            }
        }
    }
    &__list {
        font-family: $font-family-secondary;
        text-transform: none;
        .nav-menu--open & {
            margin: 0 auto;
        }
    }
    &__item {
        color: color-var(--global__colors__white);
    }
    &__toggle-label {
        display: none;
    }
}
