.post-action-card {
    color: color-var(--global__body__color-inverted);
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    a {
        &:hover {
            text-decoration: none;
        }
    }
    &__image {
        opacity: 1;
        transition: opacity 0.15s ease-in-out;
        margin-bottom: 0;
        &:hover {
            opacity: .5;;
        }
    }
    &__content-container {
        padding: var(--global__sizing__text-spacing--default);
        background-color: color-var(--global__colors__white);
        flex-grow: 1;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;

        > * {
            margin-bottom: var(--global__sizing__text-spacing--default);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__content-ellipsis {
        color: inherit;
    }
    &__heading {
        color: color-var(--global__body__color-inverted);
    }
    &__sharer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg {
            width: 1em;
            height: 1em;
        }
        a {
            color: color-var(--global__body__color);
            &:hover {
                color: color-var(--global__body__color-inverted);
            }
        }
    }
    &__sharer {
        .list--inline li {
            padding: 0 5px;

            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
        }
    }
    &__date-comments {
        text-transform: uppercase;
        font-size: $font-size-xsmall;
    }
    &.responsive-component--expanse {
        display: flex;
        flex-flow: row nowrap;
        .post-action-card {
            &__image-container {
                flex: 1 0 50%;
                @include media-breakpoint-up(xl) {
                    flex: 1 0 34%;
                }
            }
            &__content-container {
                flex: 1 0 50%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                padding: var(--global__sizing__layout-spacing--default);

                @include media-breakpoint-up(xl) {
                    flex: 1 0 66%;
                }
            }
            &__sharer-container {
                flex-flow: column nowrap;
                align-items: flex-start;

                > * {
                    margin-bottom: var(--global__sizing__text-spacing--half);

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    &.responsive-component--narrow {
        .post-action-card {
            &__sharer-container {
                flex-flow: column nowrap;
                align-items: flex-start;
            }
        }
    }
}
