.search-form {
    display: flex;
    max-width: 750px;
    margin: 0 auto;

    &__label {
        margin-bottom: 0;
        width: 100%;
    }
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: color-var(--global__colors__gray-darker);
    }
}
