.team-member-card {
    cursor: pointer;
    &:hover {
        .team-member-card {
            &__image {
                opacity: 0;
            }
            &__hover-image {
                opacity: 1;
            }
        }
    }
    &__images {
        position: relative;

        #team-member-card-modal & {
            > img {
                max-width: 350px;
                width: 100%;
            }
            @media (min-width: 600px) {
                float: left;
                margin-right: var(--global__sizing__layout-spacing--default);
            }
        }
    }
    &__image,
    &__hover-image {
        transition: opacity 0.25s ease-in-out;
        margin-bottom: 0;

        #team-member-card-modal & {
            margin-bottom: var(--global__sizing__text-spacing--default);
        }
    }
    &__image {
        opacity: 1;
    }
    &__hover-image {
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    &__content-container {
        padding: var(--global__sizing__text-spacing--double) var(--global__sizing__text-spacing--default);
        background-color: color-var(--global__colors__gray-darker);

        #team-member-card-modal & {
            padding: 0;
            color: color-var(--global__body__color);
            text-align: left;
        }
    }
    &__heading {
        margin-bottom: var(--global__sizing__text-spacing--half);
    }
    &__role {
        margin-bottom: 0;

        #team-member-card-modal & {
            margin-bottom: var(--global__sizing__text-spacing--default);
        }
    }
    &__phone,
    &__email,
    &__social-icons,
    &__content {
        display: none;

        #team-member-card-modal & {
            display: block;
        }
    }
    &__content {
        > :last-child {
            margin-bottom: 0;
        }
    }
}
